@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.bar-details {
  background-color: $light-gold;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  &__container {
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2rem;
    text-align: center;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 3rem;
    color: $dusk-blue;
    margin-bottom: 0.5rem;
  }

  &__address {
    font-size: 1.35rem;
    color: $slate-gray;
    margin-bottom: 1.5rem;
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 25rem;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  &__info {
    background-color: $moonlight-white;
    padding: 2rem;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-size: 1.4rem;
    text-align: center;
    white-space: pre-line;
    color: $charcole;
  }

  &__info-title {
    font-size: 2.15rem;
    color: $evening-purple;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__happyhour {
    background-color: $warm-amber;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border: 1px solid $urban-gray;
  }

  &__delete-button {
    margin-top: 1.5rem;
    padding: 1.25rem 1.75rem;
    font-size: 1.5rem;  
    border-radius: 10px;
    border-color: $slate-gray;
    background-color: $silent-coral;
    border: none;
    color: $charcole;
    cursor: pointer;
  }
}
