@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #3d4e81;
  flex-wrap: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 9.5rem;
    height: auto;
    flex-shrink: 0;
    &:hover {
        background-color: #F2CC8F;
        color: #fff;
        cursor: pointer;
      }
  }

  &__heading {
    font-size: 3rem;
    font-weight: bold;
    color: #ff5400;
    flex-shrink: 1;
  }

  .header__search {
    flex-grow: 1;
    max-width: 31.25rem; 
    position: relative;
    margin: 0 0.4375rem; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

    input {
        width: 100%; 
        padding: 1.25rem;
        border-radius: 30px; 
        border: 2px solid #3d4e81;
        box-sizing: border-box;
        font-size: 1.15rem;
        box-shadow: 5px 5px 5px;
        cursor: pointer;
    }

    .header__search-icon {
        position: absolute;
        right: 0.625rem; 
        top: 50%;
        transform: translateY(-50%); 
        padding-bottom: 2rem;
        width: 1.25rem;
        height: 1.25rem; 
        background-color: #3d4e81;
        border-radius: 30px;
        padding: .85rem;

        &:hover {
            background-color: black;
            color: #fff;
            cursor: pointer;
          }
    }
}
&__user-img {
    width: 3rem;
    height: auto;
    background-color: #3d4e81; 
}
&__hamburger-img {
    width: 2rem;
    height: auto;
}
&__button {
    @include button-design;
}
  
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}  